<!DOCTYPE html>
<html lang="en">
  <%- include('../common/head.ejs') %>
  <body>
    <%- include('../common/navbar.ejs') %>

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <img 
        src="https://www.shutterstock.com/image-vector/crud-create-read-update-delete-600nw-2491185533.jpg" 
        alt="CRUD Diagram" 
        style="max-width: 80%; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px;"
      />
    </div>

    <%- include('../common/footer.ejs') %>
  </body>
</html>
